
<mat-tab-group mat-align-tabs="center" class="Todo">
    <mat-tab label="Ingresar"  >
        <form class="prueba">
            <input [(ngModel)]="Usuario" name= "Usuario" placeholder="User" type="text" class="form-control">
            <input [(ngModel)]="Passwords" name= "Passwords" placeholder="Password" type="password" class="form-control">
            <button (click)="Login()" >Ingresar</button>
        </form>
    </mat-tab>

    <mat-tab label="Registrar" >

        <form class="prueba">
            <label> Usuario</label>
            <input [(ngModel)]="Usr" name= "Usr" placeholder="Usuario" type="text" class="form-control">
            <label> Nombre</label>
            <input [(ngModel)]="Nombre" name= "Nombre" placeholder="Name" type="text" class="form-control">
            <label> Contraseña</label>
            <input [(ngModel)]="Pass" name= "Pass" placeholder="Password" type="text" class="form-control">
            <label> Repetir Contraseña</label>
            <input [(ngModel)]="Pass2" name= "Pass2" placeholder="Repetir Password" type="text" class="form-control">
            <label> Foto</label>
            <input #fileInput type="file" [(ngModel)]="Foto"   name="Foto" >

            <button (click)='Registrar()'>Registrar</button>
        </form>


    </mat-tab>
</mat-tab-group>
