.login-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  .example-full-width {
    width: 100%;
  }


  .Todo{
    background: linear-gradient(rgba(224, 204, 177, 0.781), rgba(124, 83, 89, 0.952));
    width: 100%;
    height: 100%;
    color: #ffffff;
  }

  .Todo mat-tab{
    background: #eef7f3;
    color: #eef7f3;
  }
  .example-small-box, .example-large-box, .example-large-box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
  }

  .example-small-box {
    height: 100px;
    width: 100px;
  }

  .example-large-box {
    height: 200px;
    width: 300px;
  }

  .example-large-box2 {
    height: 700px;
    width: 300px;
  }


  .example-button-row {
    display: table-cell;
    width: 490px;
  }

  .example-button-row .mat-button-base {
    margin: 40px 8px 8px 0;
  }


  .prueba input, .prueba select {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #864d4d6c;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    color:#f5eded
  }
  .prueba label{
    font-family: "Roboto", sans-serif;
    border: 0;
    margin: 0 0 0px;
    float: left;
    color: #110909;
  }

  .prueba {
    position: relative;
    z-index: 1;
    background: #a464ad28;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .prueba button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #581d22bb;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }

  .prueba button:hover,.prueba button:active,.form button:focus {
    background: #320d33;
  }


  .custom-file-input::before {
    content: 'Seleccionar Foto';
    color: rgba(247, 239, 239, 0.452);
    display: inline-block;
    background: transparent;
    border: transparent;
    border-radius: 2px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10pt;
    width: 250px;
  }

  .custom-file-input {
    color: transparent;
  }
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }

  .Etiqueta mat-tab{
    color: #eef7f3;
  }

  .ImgFondo {
    height: 100px;
    width: 150px;
    filter:brightness(0.4);

  }

  .ImgFondo img{
    height: 100px;
    width: 200px;
  }


  .FondoTotal{
    background-color: #a06a24;
    height: 100%;
    width: 100%;
    margin:0 0;
  }
