.Todo{
  background-color: #320d33;
}

.Fondo  {
  position: relative;
  z-index: 1;
  background: linear-gradient(rgba(12, 1, 15, 0.123), rgba(95, 34, 112, 0.582));
  max-width: auto;
  margin: 0 auto 100px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.FondoPublicacion  {
  position: relative;
  z-index: 1;
  background: linear-gradient(rgba(95, 34, 112, 0.582),rgba(12, 1, 15, 0.123));
  max-width: 500px;
  margin: 0 auto 100px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.Fondo table{
  text-align: center;
  position: relative;
  z-index: 1;
  max-width: auto;
  margin: 0 auto 100px;
  padding: 20px;
}
.Fondo td, .Fondo tr{
  margin: 20mm;
  padding: 5mm;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
}
.Fondo img{
  padding: 10px;
  border:10px #320d33;
  width: 350px;
  height: 350px;
  border-image-slice: 4.5 fill;
}

.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Elegir Foto';
  color: rgb(247, 239, 239);
  display: inline-block;
  background: -webkit-linear-gradient(top, #050008, #8a70a1);
  border: 1px solid #999;
  border-radius: 2px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 10pt;
  width: 250px;
  text-align: center;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #5e488a, #030105);
}




.Botones {
  text-shadow: 1px 1px rgb(138, 106, 153);
  white-space: nowrap;
  cursor: pointer;
  font-weight: 500;
  font-size: 10pt;
  width: auto;
  height: 30px;
  text-align: center;
  background: -webkit-linear-gradient(top, #4f1c6e, #501b5a41);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  color: rgb(5, 2, 2);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


