<mat-tab-group mat-align-tabs="center" calss="Todo">
  <mat-tab label="Perfil" >
    <div class="Fondo">
      <img [src]="myImg"  >
      <br>
      <input #fileInput type="file"  [(ngModel)]="ImagenP"   name="ImagenP" class="custom-file-input" >
      <button class="Botones" (click)="cambiarFotoPerfil()">Cambiar Foto Perfil</button>
      <br><br>
      <table id="acciones" clss="Tabla">
        <thead>
            <th>Nombre</th>
            <th>Usuario</th>
            <th>Contraseña</th>
            <th>Modo Bot</th>
        </thead>
        <tbody>
          <tr>
            <td>
              {{Nom}}
            </td>
            <td>
              {{Us}}
            </td>
            <td>
              {{Pass}}
            </td>
            <td>
              <button class="Botones" (click)="cambiarModoBot()">{{NombreBoton}}</button>
            </td>
            <td><button class="btn" class="Botones" (click)="openDialog()">Editar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>



  </mat-tab>
  <mat-tab label="Amigos">
    <div class='Fondo'>
    <mat-accordion>
      <!--SECCIÓN DE AMIGOS AGREGADOS-->
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Amigos
            </mat-panel-title>
            <mat-panel-description>
                Lista de Amigos Agregados
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-card  *ngFor="let amigo of Amigos">
          <mat-card-header>
            <mat-card-title>{{amigo.Usuario}}</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <button mat-button (click)="EliminarAmigo(amigo.Usuario)">Eliminar</button>
          </mat-card-actions>

        </mat-card>

      </mat-expansion-panel>

      <!--SECCIÓN DE SUGERENCIAS-->
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Sugerencias
            </mat-panel-title>
            <mat-panel-description>
                Personas que quiza conozcas
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-card  *ngFor="let amigo of Sugerencias">
          <mat-card-header>
            <mat-card-title>{{amigo.Usuario}}</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <button mat-button (click)="AgregarAmigo(amigo.Usuario)">Agregar</button>
          </mat-card-actions>

        </mat-card>

      </mat-expansion-panel>
    </mat-accordion>
    </div>
  </mat-tab>

  <mat-tab label="Publicaciones">
    <div class='Fondo'>
    <mat-accordion>
      <!--SECCIÓN PARA PUBLICAR-->
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Publicar
            </mat-panel-title>
            <mat-panel-description>
                Seccion para realizar Publicaciones
            </mat-panel-description>
        </mat-expansion-panel-header>


        <form class="prueba">
          <label >Texto</label>

          <textarea matInput  class="txtA"
            [(ngModel)]="txtPublicacion"
            name="txtPublicacion"
            placeholder="Ingrese texto aquí ..."
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"></textarea>
          <input [(ngModel)]="txtTag" placeholder="Agregar Tag" name="txtTag" class="form-control">
          <button (click)="addTag()">Agregar Tag</button>
          <label> Foto</label>
          <input #fileInput type="file"  [(ngModel)]="ImagenP"   name="ImagenP" >
          <button (click)="crearPublicacion()">Publicar</button>
        </form>


      </mat-expansion-panel>

      <!--SECCIÓN DE PUBLICACIONES-->
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Publicaciones
            </mat-panel-title>
            <mat-panel-description>
                Seccion para ver las Publicaciones
            </mat-panel-description>
        </mat-expansion-panel-header>


        <input [(ngModel)]="txtTagF" name="txtTagF"placeholder="Filtrar">
        <button (click)="addTagFiltro()">Filtrar</button>
        <button (click)="borrarFiltros()">Borrar Filtros</button>

        <mat-card  *ngFor="let publi of Publicaciones" class='FondoPublicacion'>
          <mat-card-header>
            <mat-card-title>{{publi.Usuario}}</mat-card-title>
            <mat-card-subtitle>{{publi.Fecha}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{publi.Texto}}
              {{publi.Tags}}
            </p>
          </mat-card-content>
          <img mat-card-image src="http://localhost:3000/{{publi.Imagen}}" style="width: 350px; height: 350px; " >
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>

        </mat-card>





      </mat-expansion-panel>

    </mat-accordion>
    </div>
  </mat-tab>
  <mat-tab label="Chat">
    <app-chat></app-chat>
  </mat-tab>
</mat-tab-group>
