.Todo{
  background: #320d33;
  width: 100%;
  height: 100%;
}
.FondoTotal{
  background-color: #b38344;
}
.Fondo  {
  position: relative;
  z-index: 1;
  background: linear-gradient(rgba(12, 1, 15, 0.123), rgba(95, 34, 112, 0.582));
  max-width: auto;
  margin: 0 0;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.FondoPublicacion  {
  position: relative;
  z-index: 1;
  background: linear-gradient(rgba(112, 34, 38, 0.582),rgba(12, 1, 15, 0.123));
  max-width: 500px;
  margin: 0 auto 100px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.Fondo table{
  text-align: center;
  position: relative;
  z-index: 1;
  max-width: auto;
  margin: 0 auto 100px;
  padding: 20px;
}
.Fondo td, .Fondo tr{
  margin: 20mm;
  padding: 5mm;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
}
.Fondo img{
  padding: 10px;
  border:10px #320d33;
  width: 350px;
  height: 350px;
  border-radius: 20px;
  border-image-slice: 4.5 fill;
}
.FotoPerfil{
  padding: 10px;
  border:10px #261027;
  width: 350px;
  height: 350px;
  border-radius: 20px;
  border-image-slice: 4.5 fill;
  box-shadow: 0 0 18px rgb(20, 5, 5);
}
.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Elegir Foto';
  color: rgb(247, 239, 239);
  display: inline-block;
  background: -webkit-linear-gradient(top, #080002, #a1707b);
  border: 1px solid #999;
  border-radius: 2px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 10pt;
  width: 250px;
  text-align: center;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #8a4856, #030105);
}




.Botones {
  text-shadow: 1px 1px rgb(138, 106, 153);
  white-space: nowrap;
  cursor: pointer;
  font-weight: 500;
  font-size: 10pt;
  width: auto;
  height: 30px;
  text-align: center;
  background: -webkit-linear-gradient(top, #8d3645, #501b5a41);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  color: rgb(5, 2, 2);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 3px;
}

.Filtro{
  width: 1100px;
  height: 30px;
  background-color: #581d25;
  color: aliceblue;
}

.FormPublicaciones{
    position: relative;
    z-index: 1;
    background:linear-gradient(rgb(231, 206, 203),rgba(194, 117, 45, 0.096));
    max-width: 800px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    align-items:flex-start;
    display: block;
  }

  .FormPublicaciones textarea{
    background-color: #2914186c;
    margin: 10px;
    width: 700px;
    height: 90px;
    color: #f5eded;
    text-align: left;
  }

  .FormPublicaciones label{
    font-family: "Roboto", sans-serif;
    border: 0;
    margin: 0 0 0px;
    float: left;
    color: #110909;
  }

  .FormPublicaciones input, .FormPublicaciones select{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #2914186c;
    width: 600px;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    color:#f5eded
  }

  .custom-file-input2::before {
    content: 'Seleccionar Foto';
    color: rgba(51, 39, 39, 0.452);
    background: transparent;
    border: transparent;


  }

  .custom-file-input2 {
    color: transparent;
    width: 600px;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    color:#f5eded;
    font-family: "Roboto", sans-serif;
    outline: 0;
  }
  .custom-file-input2::-webkit-file-upload-button {
    visibility: hidden;
  }

  .Botones2{
    background:linear-gradient(rgb(243, 208, 154),rgba(211, 128, 34, 0.171));
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 15px #ddd;
  }
  .FondoAmigos{
    background:linear-gradient(rgb(231, 206, 203),rgba(194, 117, 45, 0.096));
    width: 600px;
    display: inline-block;
    margin: 20px;
  }

  .FondoSugerencias{
    background:linear-gradient(rgb(221, 203, 231),rgba(194, 117, 45, 0.096));
    width: 600px;
    height: 90px;
    margin: 20px;
  }

  .Botones3{
    background:linear-gradient(rgb(215, 177, 226),rgba(211, 128, 34, 0.171));
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 15px #ddd;
  }


  .Tabla{
    width: auto;
    margin: auto;
    border:1px solid white;
    border-collapse: collapse;
    text-align: center;
    font-size: 20px;
    table-layout: fixed;
    background: white;
    opacity: 0.5;
    color: black;
    margin-top: 10px;
  }
  .Tabla th, .Tabla td{
    text-align: center;
    font-size: 20px;
    table-layout: fixed;
    color: black;
    margin-top: 30px;
    padding: 20px;
  }
