<h1 mat-dialog-title>Hi {{data.Nombre}}</h1>
<div mat-dialog-content>
  <p>Edita tus datos</p>
  <mat-form-field appearance="fill">
    <label>Nombre</label>
    <input  [(ngModel)]="data.Nombre" name="Nombre">
    <label>Nueva Contraseña</label>
    <input  [(ngModel)]="data.Passwords" name="Passwords">
    <label>Contraseña Actual</label>
    <input  [(ngModel)]="data.Contra" name="Contra">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
